@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
}

header {
  color: #d04f4f;
  font-family: "Lato", sans-serif;
}

.logo {
  height: fit-content;
  width: 30%;
}

.search {
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  background-color: #e7e7e7;
  align-items: center;

  .search__input {
    border: none;
    height: 100%;
    flex: 1;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.26);
    }

    .search__btn {
      i {
      }
    }
  }
}

.categories {
  font-family: "Lato", sans-serif;
  color: white;

  .btn {
    color: white;
  }
  .btn-appareils {
    background-color: #68d9a4;
  }

  .btn-ustensiles {
    background-color: #ed6454;
  }
  button {
    border-radius: 5px;
  }
}

.recipes {
  .card {
    width: 380px;
    .card__image {
      height: 178px;
      background-color: #c7bebe;
    }
    .card-body {
      background-color: #e7e7e7;
      .card-headings {
        .card-title {
        }
        .card-time {
          p {
            font-size: 18px;
          }
          i {
            font-size: 18px;
          }
        }
      }
      .card-text {
        .card-ingredients {
          list-style: none;
          font-size: 12px;
        }
        .card-recipeSteps {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}
