.btn-category {
  color: white;
  border-radius: 5px;
  position: relative;
  width: 200px;
  &--ingredients {
    background-color: $blue;
  }
  &--appareils {
    background-color: $green;
  }
  &--ustensiles {
    background-color: $orange;
  }

  .btn {
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    &:hover {
      color: white;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
    input {
      outline: none;
      width: 100%;
      height: 100%;
      padding: 1rem 0.5rem;
      background-color: transparent;
      border: none;
      color: white;
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    i {
      position: absolute;
      right: 10px;
      margin-right: 0.5rem;
      pointer-events: none;
    }
  }

  .dropdown-menu {
    width: 100%;
    top: -10px !important;
    box-shadow: none;
    border: none;
    &--ingredients {
      flex: 1;
      background-color: $blue !important;
    }
    &--appareils {
      background-color: $green !important;
    }
    &--ustensiles {
      background-color: $orange !important;
    }
    .wrapper {
      .dropdown-item__wrapper {
        flex: 1 0 200px;
        box-sizing: border-box;
        overflow: hidden;
        @include size("sm") {
          max-width: calc(100%);
        }
        @include size("md") {
          max-width: 100%;
        }
        @include size("lg") {
          max-width: calc(200px);
        }

        .dropdown-item {
          color: rgba(255, 255, 255, 0.705);
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background-color: transparent;
            color: white;
          }
        }
      }
    }
  }
}

.showFilter {
  flex: 1;
}
